In [1]:
import numpy as np
import pandas as pd
data=pd.read_csv("heart_cleveland_upload.csv")
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [2]:
data.shape

(297, 14)

In [3]:
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'condition'],
      dtype='object')

In [4]:
X=data[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal']]
y=data[['condition']]

In [5]:
from sklearn.model_selection import train_test_split
X_test,X_train,y_test,y_train=train_test_split(X,y,test_size=0.2,random_state=20)

In [11]:
from sklearn.svm import SVC
svm=SVC(kernel='linear')
svm.fit(X_train,y_train)
y_pred=svm.predict(X_test)

C:\Users\bhagy\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
ac_score=accuracy_score(y_test,y_pred)
print("Accuracy_score:",ac_score)

Accuracy_score: 0.8227848101265823

In [13]:
cm=confusion_matrix(y_test,y_pred)
print("Confusion Matrixs: \n",cm)

Confusion Matrixs:
 [[103  21]
 [ 21  92]]

In [14]:
report=classification_report(y_test,y_pred)
print("Classifcation Report:\n",report)

Classifcation Report:
               precision    recall  f1-score   support

           0       0.83      0.83      0.83       124
           1       0.81      0.81      0.81       113

    accuracy                           0.82       237
   macro avg       0.82      0.82      0.82       237
weighted avg       0.82      0.82      0.82       237

In [15]:
corr_pred=0
incorr_pred=0
for i in range(len(y_test)):
    if(y_test.values[i]==y_pred[i]):
        corr_pred+=1
    else:
        incorr_pred+=1
print("Correct predictions:",corr_pred)
print("Incorrect predictions:",incorr_pred)

Correct predictions: 195
Incorrect predictions: 42